body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000;
    color: #fff;
    font-family: 'Arial', sans-serif;
}

.container {
    text-align: center;
    height: 100vh;
}

h1 {
    margin-bottom: 20px;
}

canvas {
    border: 1px solid #fff;
    background-color: #fff;
    margin: 0 auto; 
    display: block;
}

.tools {
    margin-top: 20px;
}

button, input {
    padding: 8px 12px;
    margin-right: 10px;
    cursor: pointer;
    background-color: ;
    color: #fff;
    border: none;
    border-radius: 5px;
    button:hover {
        background-color: #632626;
    }
    
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        background-color: #000;
        color: #fff;
        font-family: 'Arial', sans-serif;
    }
    
h1 {
    margin-bottom: 20px;
}


button, input {
    padding: 8px 12px;
    margin-right: 10px;
    cursor: pointer;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #4F4F4F;
}

.footer {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1; 
}

.tools button {
    padding: 1px;
    margin: 1px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .tools button img {
    width: 10px; /* Ajuste o tamanho conforme necessário */
    height: 10px;
    margin-right: 5px; /* Espaço entre a imagem e o texto */
  }
  