body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000;
    color: #fff;
    font-family: 'Arial', sans-serif;
}

.container {
    text-align: center;
    height: 100vh;
}

h1 {
    margin-bottom: 20px;
}

canvas {
    border: 1px solid #fff; /* Mantenha a borda existente */
    background-color: #fff;
    margin: 0 auto; 
    display: block;
    box-shadow: 0 0 1000px rgba(255, 255, 255, 0.5); /* Adicione uma sombra ao redor do canvas */
}


.tools {
    margin-top: 20px;
}

button, input {
    padding: 8px 12px;
    margin-right: 10px;
    cursor: pointer;
    background-color: ;
    color: #fff;
    border: none;
    border-radius: 5px;
    
    }
    
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        background-color: #000;
        color: #fff;
        font-family: 'Arial', sans-serif;
    }
    
h1 {
    margin-bottom: 20px;
}



button:hover {
    background-color: #4F4F4F;
}

.footer {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1; 
}

.tools button {
    width: 30px; /* Defina a largura desejada */
    height: 30px; /* Defina a altura desejada */
}

.tools img {
    width: 100%; /* Garante que a imagem preencha o botão */
    height: 100%;
}
